# Add these in Vercel: Project Settings -> Environment Variables
# You only need ONE of these for the app to work — more = better reliability under load.

GROQ_API_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
